<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>{{ site.title | default: site.title | default: site.github.repository_name }}</h1>
          <h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
          {% assign navlist = site.data.navigation.docs | sort: 'title'  %}

          <p style="padding-top: 3%;">
          {% for item in navlist %}
              {% if item.title == "responses" %}
                <a href="{{ item.url }}">{{ item.title }} </a>
              {% else %}
                <a href="{{ item.url }}">{{ item.title }}</a> // 
              {% endif%}
          {% endfor %}
          </p>
        </header>
        <hr>
        <section id="main_content">
          <h2>{{ page.title }}</h2>
          {{ content }}
        </section>

        <footer>
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} </a><br>
        {% endif %}
        <a href="mailto:info@abqkitesforgaza.art" id="contact"><span>Contact info@abqkitesforgaza.art</span></a>&emsp;
        <a href="https://www.instagram.com/abqkites4gaza/"><img src="/img/insta-logo.png" alt="instagram-logo" width="20" height="20" style="margin-bottom:-5px"> abqkites4gaza</a>
        </footer>

      </div>
    </div>
  </body>
</html>